.transfers{
    display: flex;
    margin-top: 2em;
    margin-left: 25em;
    margin-right: 25em;
    align-items: center;
    justify-content: center;
}
.heading{
    letter-spacing: .2em;
    font-weight: lighter;
    color: seagreen;
    
}
.cooltitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
}
.rows{
    padding: .2em;
}
.circular{
    top: 50%;
    left: 50%;
    position: fixed;
}