.table{
    display: flex;
    margin-top: 2em;
    margin-left: 25em;
    margin-right: 25em;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}
.heading{
    letter-spacing: .2em;
    font-weight: lighter;
    
}
.imgs{
    height: 1.7em;
    border-radius: 50%;
}
.mytable{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
}
.tbl{
    padding: .3em;
}
.tform{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .3em;
    margin-bottom: 1em;
}